@font-face {
    font-family: "GraphikLCG-Regular";
    src: url("../fonts/GraphikLCG-Regular\ \(1\).ttf");
    font-weight: 400;
}

@font-face {
    font-family: "GraphikLCG-Semibold";
    src: url("../fonts/GraphikLCG-Semibold\ \(1\).ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.fix-size-container {
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px;
}

.nav-container {
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;
    justify-content: space-between;
}

.wrap-logo {
    display: flex;
    align-self:center;
}

.card-list {
   margin-left: 51px;
}


.item {
    display: inline-block;
    margin-top: 5px;
}

.item ~ .item:not(:first-child) {
    margin-left: 57px;
}

.all {
    font-family: "GraphikLCG-Regular";
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.button {
    display: flex;
}

.btn-log {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    height: 45px;
    width: 120px;
    cursor: pointer;
}

.btn-log:hover {
    background-color: #ff3b05;
    color: #221746;
}

.btn-free {
    margin-left: 10px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    height: 45px;
    width: 120px;
    background: #FF6336;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}

.btn-free:hover {
    background-color: #ff3b05;
    color: #221746;
}

.border {
    width: 100%;
    border: 1px solid #E5E5E5;;
}

.card-container {
    padding-top: 129px;
    padding-bottom: 172px;
    display: flex;
    justify-content: space-between;
}

.text-title {
    width: 550px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 64px;
    line-height: 115%;
    color: #000000;
}

.text {
    width: 471px;
    margin-top: 51px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #000000;
}

.btn {
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
}

.btn-try {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    height: 60px;
    background: #FF6336;
    border-radius: 0px;
    width: 160px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.btn-try:hover {
    background-color: #ff3b05;
    color: #221746;
}

.btn-book {
    margin-left: 10px;
    width: 160px;
    height: 60px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    cursor: pointer;
}

.btn-book:hover {
    background-color: #ff3b05;
    color: #221746;
}

.text-info {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

@media (max-width: 1100px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
    }

    .button {
       margin-top: 27px;
    }

    .btn-log, .btn-free {
        width: 250px;
        height: 60px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .img-picture1 {
        width: 600px;
        margin-bottom: 50px;
    }

    .order {
        order: 1;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .btn-try, .btn-book {
        width: 250px;
        height: 60px;
    }

    .text-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 65px;
        width: auto;
    }
    
    .text {
        margin: 0 auto;
       text-align: center;
        width: 600px;
        margin: 0 auto;
       }

       .text-info {
        text-align: center;
        font-size: 12px;
    }
   
}

@media (max-width: 810px) {
    .fix-size-container .wrap-logo {
        flex-direction: column;
        align-items: center;
    }

    .img-logo {
        width: 160px;
    }

    .all {
        font-size: 18px;
    }

    .item ~ .item:not(:first-child) {
        margin-left: 40px;
    }

    .card-list {
        margin-left: 0;
        margin-top: 20px;
    }

    .img-picture1 {
        width: 100%;
    }

    .text-title {
     width: auto;
    }

}

@media (max-width: 625px) {
    .list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .item ~ .item:not(:first-child) {
        margin-left: 0;
        margin-top: 20px;
    }

    .all {
        font-size: 25px;
    }

    .button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-free {
        margin-left: 0;
        margin-top: 20px;
    }

    .button {
        width: 100%;
    }

    .btn-log, .btn-free {
        width: 100%;
        height: 60px;
    }

    .img-picture1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .text-title {
        text-align: center;
       font-size: 32px;
    }
    .text {
        text-align: center;
        width: auto;
        font-size: 18px;
        
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .btn-try, .btn-book {
        height: 60px;
        width: 100%;
    }

    .btn-book  {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .text-info {
        font-size: 12px;
    }
}