
.partners {
    background-color: #FF9C7D;
    padding-bottom: 104px;
    padding-top: 108px;
}

h2 {
    font-family: "GraphikLCG-Semibold";
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.wrapper-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-one {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.wrap-text{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.text-h3{
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.text-one {
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}

.all-start {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.wrap-two {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

.section-free {
    padding-top:120px;
    padding-bottom: 150px;
    margin-top: 150px;
    background: #FFF8E4;
}

.title-text {   
    display: flex;
    justify-content: center;
}

h4 {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}
 
.card-img-container {
    margin-top: 79px;
    display: flex;
    justify-content: space-around;
}

.card-1 {
    width: 330px;
    height: 294px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-two {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 26px;
    margin-bottom: 20px;
    text-decoration: none;
}

.text-img {
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.card-img-container-2 {
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
}

.section-four {
    padding-top: 154px;
    padding-bottom: 187px;
}

.card-logo-container {
    margin-top: 725pxpx;
    display: flex;
    justify-content: space-between; 
}

.card-2 {
    display: flex;
    flex-direction: column;
}

.img-manager {
    margin-top: 75px;
}

.link-managers {
    margin-top: 49px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.text-img-one {
    margin-top: 34px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
} 

.link-more {
    margin-top: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.img-Developers {
    margin-top: 92px;
}

.link-Developers {
    margin-top: 67px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}


.text-img-two {
    margin-top: 33px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
} 

.img-Translators {
    margin-top: 84px;
}

.link-Translators {
    margin-top: 58px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}


.text-img-free {
    margin-top: 34px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
} 

.section-five {
    padding-top: 53px;
    padding-bottom: 105px;
    background: #C9E8F2;
}

.card-3{
    display: flex;
    justify-content: space-between;
}

.text-lokalise {
    margin-top: 10px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.text-Edward-Cooper {
    margin-top: 27px;
  
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.section-six {
    padding-top: 80px;
    padding-bottom: 88px;
    background: #DABC98;
}

.card-4 {
    display: flex;
    justify-content: space-between;
}

.card-text-tort {
    display: flex;
    margin-top: 10px;
}

.text-most-loved {
    margin-left: 67px;
    margin-top: 27px;
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
}

.card-5 {
    padding-top: 30.2px;
    width: 481px;
    height: 168px;
    border-left: 2px solid #000000;
  }

.img-g2 {
    margin-left: 71px;
}

.img-capterra {
   margin-left: 71px;
}

.section-seven {
    padding-top: 165px;
    padding-bottom: 162px;
}

.card-6 {
    display: flex;
   flex-direction: column;
}

.text-h5 {
    font-family: "GraphikLCG-Semibold";
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.text-localise {
    font-family: "GraphikLCG-Regular";
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.wrap-img {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button-integrations {
    display: flex;
    justify-content: center;
}

.btn-see {
    width: 193px;
    height: 60px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    border:none;
    background: #FF6336;
    cursor: pointer;
}

.btn-see:hover {
    background-color: #ff3b05;
    color: #221746;
}

.section-eight {
    background: #FF9C7D;
}

.text-wrapper {
    padding-top: 119px;
    padding-bottom: 161px;
    display: flex;
    justify-content: center;
}

.text-it-works {
    margin-top: 29px;
    font-family: "GraphikLCG-Regular";
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.button-free {
    display: flex;
    justify-content: center;
}

.button-try {
    margin-top: 54px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
    width: 160px;
    height: 60px;
    background: #000000;
    border:none;
    cursor: pointer;
}

.button-try:hover {
    background-color: #ff3b05;
    color: #221746;
}

@media (max-width: 1200px) {
    
    .section-one {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrapper-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        height: 800px;
    }

    .img-logo {
        width: 200px;;
    }

    .wrap-one {
        flex-direction: column;
        align-items: center;
    }

    .wrap-text {
        align-items: center;
        text-align: center;
    }

    .all-start {
        margin-bottom: 30px;
    }

         
    .wrap-two {
        flex-direction: column;
        align-items: center;
    }

    .card-2:not(:first-child) {
        margin-left: 10px;
       }

       .text-img-one .text-img-two .text-img-free {
        font-size: 12px;
        line-height: 10px;
    }

    .text-img-one {
        font-size: 22px;
        line-height: 20px;
    }

    .text-img-two {
        font-size: 22px;
        line-height: 20px;
    }

    .text-img-free {
        font-size: 22px;
        line-height: 20px;
    }

    .card-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-5 {
        margin-top: 50px;
    }

    .img-picture555 {
        width: 850px;
    }

}

@media (max-width: 810px) {
    
    h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .img-image {
        width: 100%;
    }

    .wrap-two {
        margin-top: 150px;
     }

     .text-img-one {
        font-size: 20px;
        line-height: 18px;
    }

    .text-img-two {
        font-size: 20px;
        line-height: 18px;
    }

   .card-2 {
    margin-left: 20px;
   }

    .text-img-one .text-img-two .text-img-free {
        font-size: 15px;
        line-height: 15px;
    }

    .section-five {
        padding-bottom: 53px;
       
    }

    .card-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-lokalise {
        font-size: 25px;
        line-height: 30px;
    }

    .section-seven {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .img-picture555 {
        width: 670px;
    }

    .btn-see {
        width: 300px;
       
    }

    .text-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
        
    }

    .button-try {
        width: 300px;
    }

}

@media (max-width: 625px) {

    .section-one {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h2 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .wrapper-logo {
        height: 400px;
    }

    .img-logo {
        width: 100px;
    }

    .text-h3 {
       font-size: 30px;
       line-height: 35px;
    }

    .img-image_1 {
        width: 100%;
    }

    .text-one {
        font-size: 10px;
        line-height: 15px;
    }

    .section-two {
        margin-top: 50px;
    }

    .section-free {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h4 {
        font-size: 40px;
        line-height: 40px;
    }

    .section-four {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-img-container {
        display: flex;
     flex-wrap: wrap;
    }

    .card-img-container-2 {
        margin-top: 54px;
        flex-wrap: wrap;
    }

    .card-logo-container {
        display: flex;
       flex-direction: column;
      align-items: center;
    }

    .card-2 {
        display: flex;
        align-items: center;
    }

    h4 {
        font-size: 30px;
        line-height: 30px;
    }

    .text-img-one, .text-img-two, .text-img-free {
        font-size: 20px;
        line-height: 20px;
    }

    .card-text-tort {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tort {
        width: 130px;
    }

    .text-most-loved {
        margin-left: 0;
        text-align: center;
        font-size: 28px;
        line-height: 25px;
    }

    .card-5 {
        width: auto;
    }

    .img-g2 {
        width: 100px;
        margin-left: 20px;
    }

    .img-capterra {
        width: 100px;
        margin-left: 50px;
    }

    .text-h5 {
        font-size: 25px;
        line-height: 25px;
    }

    .text-localise {
        margin-top: 40px;
        font-size: 18px;
        line-height: 18px;
    }

    .img-picture555 {
        width: 100%;
    }

    .btn-see {
        width: 100%;
    }

    .text-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-it-works {
        font-size: 20px;
        line-height: 25px;
    }

    .card-6 {
        width: 100%;
    }

    .button-try {
        width: 100%;
    }

}